@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #0e0e0e;
}

body {
  margin: 0;
  background-color: #0e0e0e;
  -webkit-tap-highlight-color: transparent;
}

#root {
  min-height: 100svh;
}
